<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="horario">
        <ion-icon name="time-outline"></ion-icon>
        Horario
      </ion-tab-button>
      <ion-tab-button tab="home-student">
        <ion-icon name="home-outline"></ion-icon>
        Home
      </ion-tab-button>
      <ion-tab-button tab="asistencias">
        <ion-icon name="calendar-outline"></ion-icon>
        Asistencias
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
