:root {
  --blue: #003057;
  --orange: #f1b634;
  --black: #000000;
  --white: #ffffff;
}

* {
  background: var(--blue);
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #003057;
}

.login-box {
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  width: 80%;
  max-width: 500px;
}

.logo {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
}

ion-content {
  --background: #003057;
}

ion-item {
  --background: #f4f4f4;
  --border-radius: 5px;
  margin-bottom: 15px;
}

ion-input {
  --padding-start: 10px;
}

ion-button {
  --background: #ffa300;
  --color: white;
  margin-top: 20px;
  cursor: pointer;
}

.forgot-password {
  display: block;
  margin-top: 20px;
  color: #ffffff;
  text-decoration: none;
}

.custom-placeholder {
  color: #000000;
}

.logo {
  width: 250px;
  height: auto;
  margin-bottom: 20px;
  -webkit-animation-name: fade-in-down;
  animation-name: fade-in-down;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fade-in-down {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
