<ion-content [fullscreen]="true" class="ion-padding">
  <div class="login-container">
    <div class="login-box">
      <img
        src="../../assets/icon/LogoDuoc.webp"
        alt="DuocUC Logo"
        class="logo"
      />
      <form (ngSubmit)="onlogin()" [formGroup]="loginForm">
        <ion-item>
          <ion-input
            type="email"
            formControlName="email"
            placeholder="Correo@duocuc.cl | correo@profesor.duoc.cl"
            class="custom-placeholder"
          >
            <ion-icon name="at-outline" slot="start"></ion-icon>
          </ion-input>
          <ion-button id="click-trigger" shape="round"
            ><ion-icon name="help-outline"></ion-icon
          ></ion-button>
          <ion-popover trigger="click-trigger" triggerAction="click">
            <ng-template>
              <ion-content class="ion-padding"
                >Si es profesor: profesor.duoc.cl | Si es alumno:
                duocuc.cl</ion-content
              >
            </ng-template>
          </ion-popover>
        </ion-item>
        <ion-item>
          <ion-input
            type="password"
            formControlName="password"
            placeholder="Contraseña"
            class="custom-placeholder"
          >
            <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          </ion-input>
        </ion-item>
        <ion-button
          expand="block"
          class="login-button"
          type="submit"
          [disabled]="!loginForm.valid"
          >Ingresar
          <ion-icon name="log-in-outline" slot="end"></ion-icon>
        </ion-button>
      </form>
      <ion-button expand="block" routerLink="/create-account">
        <ion-icon name="person-add-outline" slot="end"></ion-icon>
        Crear Cuenta
      </ion-button>
      <!--<a routerLink="/recuperar" class="forgot-password">
        <ion-icon name="help-circle-outline"></ion-icon>
        Recuperar contraseña</a
      >-->
    </div>
  </div>
</ion-content>
